In [1]:
from scipy import stats

In [2]:
import seaborn as sns
df=sns.load_dataset("tips")

In [3]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [4]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [6]:
sample_mean1 =[]
for i in range(50):
  sample = df["total_bill"].sample(frac=0.03)
  sample_mean1.append(sample.mean())


sample_mean2 =[]
for i in range(50):
  sample = df["tip"].sample(frac=0.04)
  sample_mean2.append(sample.mean())

t_test, p_value = stats.ttest_ind(sample_mean1,sample_mean2)
print(t_test,p_value)
if p_value < 0.04:
  print("H0 Reject null hypothesis, Ha accepts alternate hypothesis ,  data is not normally distributed")
else:
  print("H0 accept null hypothesis, Ha rejects alternate hypothesis,  data is normally distributed")

32.449489281328674 3.1775568486480054e-54
H0 Reject null hypothesis, Ha accepts alternate hypothesis ,  data is not normally distributed